<!-- TODO: Edit this file to be the view for registering (can be with just username for now) -->

<!DOCTYPE html>
<html>
<body>

<h2>Gradebook Registration</h2>

<form>
  <label for="fname">First Name:</label><br>
  <input type="text" id="fname" name="fname" value="">
  <br>
  <br>
  <label for="lname">Last Name:</label><br>
  <input type="text" id="lname" name="lname" value="">
  <br>
  <br>
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" value="">
  <br>
  <br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password" value="">
  <br>
  <br>
  <input type="radio" id="student" name="association" value="Student">
  <label for="student"> I am a student</label><br>
  <input type="radio" id="teacher" name="association" value="Teacher">
  <label for="teacher"> I am a teacher</label>
  <br>
  <br>
  <br>
  <input type="submit", value="Register">
</form>

</body>
</html>