<!-- TODO: Edit this html file to be the view for a teacher -->

<html>
    <head>
        <meta http-equiv="refresh" content="60">
        <title>Todo App</title>
        <style>
            .hidden {
                display: none;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 300px;
                font-size: 20px;
            }
            li {
                clear: both;
            }
            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: red; 
                float: right;
                cursor: pointer;
                font-size: 15px;   
            }
            .list-wrapper, .todos-wrapper {
                display: inline-block;
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <h3>A Sample Version of TODO App</h3>
        <div class="list-wrapper">
            <h4>TODO Lists</h4>
            <form action="/list/create" method="POST" id="list-form">
                <lable for="todolist">Create List:</lable>
                <input type="text" name="todolist" id="todolist-input" placeholder="A new List" data-id="{{active_list.id}}">
                <button type="submit">Create List</button>
            </form>
            <ul id="lists">
                {% for list in lists %}
                <li> 
                    <input type="checkbox" data-id="{{ list.id }}" class="list-check-completed">
                    <a href="/lists/{{ list.id }}"> {{list.name}} </a>
                    <button class="delete-list" data-id="{{ list.id }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="todos-wrapper">
            <h4>TODO Items</h4>
             <!-- <form id="form" method="POST" action="/todos/create"> -->
            <form id="todo-form" method="POST" action="/todos/create">
                <input id="list_id" type="hidden" value="{{ active_list.id }}">
                <label>Create Task:</label>
                <input type="text" id="description" name="description" placeholder="Task description"/>
                <button type="submit">Create Task</button>
            </form>
            <div id = "error" class="hidden">Something went wrong!!</div>
            <h4>{{ active_list.name }}</h4>
            <ul id="todos">
                {% for todo in todos %}
                <li>
                    <input class="todo-check-completed" data-id = "{{ todo.id }}" type="checkbox" name="complete" id="complete" {% if todo.completed %} checked {% endif %}/>
                    {{ todo.description }}
                    <button class="delete-todo" data-id = "{{todo.id}}">&cross;</button>
                </li>  <!-- use for loop to iterate variable data and display result in browser-->
                {% endfor %}
            </ul>
        </div>

        <script>
            //todo list checkbox button
            const listCheckboxes = document.querySelectorAll('.list-check-completed');
            for (let i = 0; i < listCheckboxes.length; i++) {
                const checkbox = listCheckboxes[i];
                
                checkbox.onchange = function (e) {
                  
                const listId = e.target.dataset.id;
                const listCompleted = e.target.checked;

                fetch('/lists/' + listId + '/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'set_completed': listCompleted
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function (jsonResponse) {
                    
                    document.getElementById('error').className = 'hidden';
                    
                    const todoCheckboxes = document.querySelectorAll('.todo-check-completed');
                    
                    for (let i = 0; i < todoCheckboxes.length; i++) {
                        const checkbox = todoCheckboxes[i];
                        checkbox.checked = listCompleted;
                    }
                })
                .catch(function () {
                    document.getElementById('error').className = '';
                })
                   
                }
            }

            //delete todo list button
            const deleteListBtns = document.querySelectorAll(".delete-list");
            for (let i = 0; i < deleteListBtns.length; i++) {
                const deleteBtns = deleteListBtns[i];
                deleteBtns.onclick = function(e) {
                    const listId = e.target.dataset.id;
                    fetch('/lists/' + listId + '/delete', {
                        method: 'DELETE'
                    })
                    .then(function(){
                        const item = e.target.parentElement;
                        item.remove();
                        document.getElementById("error").className = "hidden";
                        window.location.reload(true);
                    })
                    .catch(function(){
                            document.getElementById('error').className = '';
                    })
                }
            }

            //delete todo item butoon
            const deleteBtns = document.querySelectorAll('.delete-todo');
            for (let i = 0; i < deleteBtns.length; i++) {
                const btn = deleteBtns[i];
                btn.onclick = function(e) {
                    const todoID = e.target.dataset.id;
                    fetch('/todos/' + todoID + '/delete', {
                        method: 'DELETE'
                    })
                    //refresh page everytime you delete something
                    .then(function() {
                        const item = e.target.parentElement;
                        item.remove()
                        document.getElementById('error').className = "hidden";
                    })
                    .catch(function(){
                            document.getElementById('error').className = '';
                    })
                }
            }
            
            //todo item checkbox button
            const todocheckboxes = document.querySelectorAll('.todo-check-completed');
            for (let i = 0; i < todocheckboxes.length; i++) {
                const checkbox = todocheckboxes[i];
                checkbox.onchange = function(e) {
                    //console.log('event', e);
                    const newCompleted = e.target.checked;
                    const todoid = e.target.dataset.id;
                    fetch('/todos/' + todoid + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                    document.getElementById('error').className = '';
                    })
                }    
            }

            // todo item create
            document.getElementById('todo-form').onsubmit = function(e) {
                e.preventDefault();
                fetch('/todos/create', {
                    method: 'Post',
                    body: JSON.stringify({
                        'description': document.getElementById('description').value,
                        'list_id': document.getElementById('list_id').value
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(function(response) {
                    return response.json();
                })
                .then(function(jsonResponse) {
                    const liItem = document.createElement('LI');
                    liItem.innerHTML = jsonResponse['description'];
                    document.getElementById('todos').appendChild(liItem);
                    document.getElementById('error').className = 'hidden';
                    window.location.reload(true);
                })
                .catch(function(){
                    document.getElementById('error').className = '';
                }) 
            }

            // list todo create
            document.getElementById('list-form').onsubmit = function(e) {
                e.preventDefault();
                fetch('/lists/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'name': document.getElementById('todolist-input').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function(response){
                    return response.json();
                })
                .then(function(jsonResponse){
                    const liItem = document.createElement('LI');
                    liItem.innerHTML = jsonResponse['name'];
                    document.getElementById('lists').appendChild(liItem);
                    document.getElementById('error').className = 'hidden';
                    window.location.reload(true)
                })
                .catch(function(){
                    document.getElementById('error').className = '';
                }) 
            }
        </script>
    </body>
</html>